<?xml version="1.0"?>
<launch>
  <!-- 物理硬件控制启动
       用法:
         roslaunch dofbot_control dofbot_hw.launch
         roslaunch dofbot_control dofbot_hw.launch control_freq:=100
  -->
  <arg name="control_freq" default="50" />
  <arg name="i2c_device" default="/dev/i2c-1" />

  <!-- 1. 加载机器人描述 -->
  <param name="robot_description"
    command="xacro $(find dofbot_description)/urdf/dofbot.xacro" />

  <!-- 2. 加载控制器参数 -->
  <rosparam file="$(find dofbot_control)/config/dofbot_control.yaml" command="load" />
  <rosparam file="$(find dofbot_control)/config/joint_state_controller.yaml" command="load" />

  <!-- 3. 硬件节点 (DofbotHWInterface, I2C) -->
  <node name="dofbot_hw_node" pkg="dofbot_control" type="dofbot_hw_node" output="screen">
    <param name="sim_mode" value="false" />
    <param name="control_freq" value="$(arg control_freq)" />
    <param name="i2c_device" value="$(arg i2c_device)" />
    <param name="i2c_address" value="0x15" />
    <remap from="joint_states" to="joint_states_raw" />
  </node>

  <!-- 4. joint_state_publisher: 读硬件原始 /joint_states_raw,
       补全 URDF mimic 关节 (gripper_right), 输出标准 /joint_states (7关) -->
  <node name="mimic_joint_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/joint_states_raw]</rosparam>
    <param name="use_mimic_tag" value="true" />
  </node>

  <!-- 5. robot_state_publisher: 读标准 /joint_states (7关, mimic 已补全) → TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="$(arg control_freq)" />
  </node>

  <!-- 6. controller_spawner: 启动 joint_state_controller + dofbot_trajectory_controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="--namespace / joint_state_controller dofbot_trajectory_controller">
    <env name="PATH" value="/usr/bin:/opt/ros/noetic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin:/bin" />
  </node>
</launch>
